<h1>Workouts#index</h1>
<p>Find me in app/views/workouts/index.html.erb</p>

<table class="table">
 	<tr>
 		<td>Title</td>
 		<td>Catergories</td>
 		<td>Excercise</td>
 		<td>User</td>
 		<td>Delete</td>
 		<td>Likes</td>
 	</tr>
 	
 	<% @workouts.each do |workout| %>
 	<tr>
 		<td><%= link_to workout.title, workout_path(workout)%></td>
 		<td><%= workout.category %></td>
 		<td><%= workout.excercise %></td>
 		<td><%= workout.user.email %></td>
 		<td><%= link_to 'Destroy Workout', workout, method: :delete%></td>
 		<td>
 			<p>likes</p> <%= "#{workout.votes_for}"%>
 			<% if !current_user.voted_on?(workout) %>
 			 <%= button_to "Like", vote_up_workout_path(workout), class: "btn btn-default btn-sm makeWhite"%>	 	
 			<% else %>
 			 <%= button_to "Unlike", unvote_workout_path(workout), class: "btn btn-default btn-sm makeWhite" %>
 			 <% end %>
 		</td>
 	</tr>
 	<% end %>
</table>