<h1>Workouts#new</h1>
<p>Find me in app/views/workouts/new.html.erb</p>

<!-- Testing out simple_form -->

<!-- End Test -->
<div class="form-horizontal">
<%= form_for(@workout) do |f| %>
    <div class="field">
        <p>Title</p> 
        <%= f.text_field :title, hint: 'Title'%>
    </div>
    <div class="field">
    	<p>Catergories</p>
    	<%= f.select :category, options_for_select(["Upper Body", "Lower Body", "Chest", "Olympic Lift", "Full Body"])%>
         <span class="help-inline" style="margin-top: -8px; color:#B1B1B3;" id="help_department">Target Area of Workout</span>
    </div>
    <div class="field">
    	<p>Excercise</p>
    	<%= f.text_area :excercise%>
    </div>

    <div class="field">
        <p>User</p> 
        <%= f.hidden_field :user_id, :value => current_user.id%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
</div>