<h1>Workouts#new</h1>
<p>Find me in app/views/workouts/new.html.erb</p>

<%= form_for(@workout) do |f| %>
    <div class="field">
        <p>Title</p> 
        <%= f.text_field :title%>
    </div>
    <div>
    	<p>Catergories</p>
    	<%= f.text_field :Catergorie%>
    </div>
    <div>
    	<p>Excercise</p>
    	<%= f.text_body :excercise%>
    </div>

    <div class="field">
        <p>User</p> 
        <%= f.collection_select :user_id, User.all, :id, :name%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>