<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<h1>Workouts#show</h1>
<p>Find me in app/views/workouts/show.html.erb</p>

<div>
	<p>Title</p>
	<p><%= @workout.title %></p>
	<p>Categories</p>
	<p><%= @workout.category %></p>
	<p>Excercise:</p>
	<p><%= @workout.excercise%> </p>
	<div class = "container">
    	<button class = "ComButton">Show Comments</button>
    	<div class = "comments">
    		<p>Comments:</p>
    		<% @comments.each do |comment| %>
    			<p>Comment By : <%= link_to comment.user.username, user_path(comment.user.id) %></p>
    			<p>Body : <%= comment.body %></p>
    		<% end %>
    	</div>
  	</div>

	<%= link_to "Add Comment", new_comment_path %>
	<p>User</p>
	<p><%= @workout.user.username %></p>
	<% if current_user.id == @workout.user.id %>
	<p>Remove</p>
	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
	            workout_path(@workout),
	            :method => :delete,
	            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	            :class => 'btn btn-mini btn-danger' %>
	<% else %>
	<% end %>
	<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>