<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>
<%= form_for(@comment) do |f| %>
    <div class="field">
        <p>Which Workout?</p> 
        <%= f.collection_select :workout_id, Workout.all, :id, :title%>
    </div>
    <div class="field">
        <p>body</p> 
        <%= f.text_field :body%>
    </div>
    <div class="field">
        <p>User</p> 
        <%= f.collection_select :user_id, User.all, :id, :email%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
