<style type="text/css">
body {
	color: black;
}
body > table > tr > a {
	color: white !important;
}
.header {
	margin-left: 50px;
	font-weight: bold;
}
.changeRed {
	color: #A65353;
}
h1 {
	color: white;
}

.well {
	margin-bottom: 100px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10px !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.editBlue {
	background-color: #6FB1B1;
}
</style>

<div class = "header">
<h1>Your Friends Recent Activity</h1>
</div>


<div class = "well">
<table class="table">
 	<tr>
 		<td>Title</td>
 		<td>category</td>
 		<td>Excercise</td>
 		<td>User</td>
 		<td>Date Created:</td>
 		<td>Likes</td>
 	</tr>
 	
 	<% @workouts.each do |workout| %>
 	<tr>
 		<td><%= link_to workout.title, workout_path(workout), class: "changeRed"%></td>
 		<td><%= workout.category %></td>
 		<td><%= workout.excercise %></td>
 		<td><%= link_to workout.user.username, user_path(workout.user.id), class: "changeRed" %></td>
 		<td><%= workout.created_at %></td>
 		<td>
 			<%= workout.votes_for%>
 			<% if !current_user.voted_on?(workout) %>
 			 <%= button_to "Like", vote_up_workout_path(workout), class: "btn btn-primary btn-mini icon-ok icon-white editBlue"%>
 			<% else %>
 			 <%= button_to "Unlike", unvote_workout_path(workout), class: "btn btn-primary btn-mini icon-ok icon-white editBlue" %>
 			 <% end %>
 		</td>
 	</tr>

 	<% end %>
</table>
</div>