<style type="text/css">
body {
	color: white;
	padding-top: 50px !important;

}
</style>

<h1>User Dash</h1>

<table class="table">
 	<tr>
 		<td>Title</td>
 		<td><%= link_to "Target Area", scoped_path("by_cat"), id: "sort_link" %></td>
 		<td>Excercise</td>
 		<td><%= link_to "Created By", scoped_path("by_user"), id: "sort_link" %></td>
 		<td><%= link_to "Date Created", scoped_path("by_newest"), id: "sort_link" %></td>
 		<td><%= link_to "Likes", scoped_path("top"), id: "sort_link" %></td>
 	</tr>
 	
 	<% @workouts.each do |workout| %>
 	<tr>
 		<td><%= link_to workout.title, workout_path(workout)%></td>
 		<td><%= workout.category %></td>
 		<td><%= workout.excercise %></td>
 		<td><%= link_to workout.user.username, user_path(workout.user.id) %></td>
 		<td><%= workout.created_at %></td>
 		<td>
 			<%= workout.votes_for%>
 			<% if !current_user.voted_on?(workout) %>
 			 <%= button_to "Like", vote_up_workout_path(workout), class: "btn btn-primary btn-mini icon-ok icon-white"%>
 			<% else %>
 			 <%= button_to "Unlike", unvote_workout_path(workout), class: "btn btn-primary btn-mini icon-ok icon-white" %>
 			 <% end %>
 		</td>
 	</tr>

 	<% end %>
</table>