<style type="text/css">
.makeWhite > a{
    color: white;
}

.editRed {
    background-color: #A65353;
}
.editGreen {
    background-color: #428542;
}

</style>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= @user.username %></h2>
                    <p><strong>About: </strong><%= @user.about %></p>
                    <p><strong>Email: </strong><%= @user.coach %></p>

                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://png-1.findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/dumbbell.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong><%= @user.followers_count %></strong></h2>                    
                    <p><small>Followers</small></p>
                     <% if current_user.following?(@user)%>
                     <button type="button" class="btn btn-danger btn-block makeWhite editRed">
                     <%= link_to "Unfollow", unfollow_user_path(@user) %>        
                     </button >
                    <% else %>
                     <button type="button" class="btn btn-success btn-block makeWhite editGreen">
                        <%= link_to "Follow", follow_user_path(@user) %>
                     </button>
                     <% end %>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong><%= @user.follow_count %></strong></h2>                    
                    <p><small>Following</small></p>

                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <% if current_user.id == @user.id %>
                    <h2><strong>Cancel Account</strong></h2>                    
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                user_path(@user),
                                :method => :delete,
                                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                :class => 'btn btn-mini btn-danger editRed' %>
                    <% else %>
                    <% end %>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>