<!DOCTYPE html>
<html>
<style type="text/css">

body > a{
  color: white !important;
}

.addBorder {
  height:40px !important;
  border-top: 4px solid !important; 
  border-top-color: #A65353 !important;
}

.kyleEdit {
  background-color: #999 !important;
}

.changeMe {
  color: #E6E6E6;
}

.login {
  color: black;
}
</style>

<head>
  <title>WorkoutApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top addBorder" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FitShare</a>
        </div>

        <!-- Links to main data of site -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li class = "active"><%= link_to "Home", dashboard_path %></li>
            <% else %>
            <li class = "active"><a href="/">Home</a></li>
            <% end %>
            <li><%= link_to "About", misc_about_path %></li>
            <li><%=link_to "Workouts", workouts_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Teams", teams_path %></li>
            <% if current_user.try(:coach?)%>
            <li><button type="button" class="btn btn-default kyleEdit"><%=link_to "Add Your Own!", new_workout_path, class: "changeMe" %></button></li>
            <li><button type="button" class="btn btn-default kyleEdit"><%=link_to "Create a team", new_team_path, class: "changeMe" %></button></li>
            <% end %>
          </ul>

          <!-- Sign in and Sign Out buttons -->
          <div class="nav navbar-right">
            <ul>
            <% if user_signed_in? %>
            <button type="button" class="btn btn-default btn-sm right-btn">
              <li><%= link_to("Logout", destroy_user_session_path, :method => :delete, class: "login") %></li>
            </button >
           <% else %>
            <button type="button" class="btn btn-warning btn-sm right-btn ">
               <li><%= link_to("Sign Up", new_user_registration_path) %></li>
             </button>
            <button type="button" class="btn btn-default btn-sm right-btn ">
              <li><%= link_to("Login", new_user_session_path, class: "login" )%></li>
            </button>
            <% end %>
            </ul>
          </div>
        </div>
        <!-- End of Nav -->

      </div>
    </div>
<%= yield %>

</body>
</html>
